html {
    font-family: Helvetica;
    font-size: 22px;
    color: seashell;
    background: black;
    opacity: 0.9;
}
header {
    display: flex;
    justify-content: space-between;
    height: 69px;
    border-bottom: 1px solid seashell;
}
header img {
    height: 50px;
    margin-left: 10px;
}
header ul {
    list-style-type: none;
    display: flex;
    margin-right: 10px;
}
header li {
    padding-left: 50px;
}
header a {
    color: seashell;
}
header a:hover {
    text-decoration: none;
}