html {
    font-family: Helvetica;
    font-size: 22px;
    color: seashell;
    background: black;
    opacity: 0.9;
    text-align: center;
}

/* HEADER */
header {
    display: flex;
    justify-content: space-between;
    height: 69px;
    border-bottom: 1px solid seashell;
    position: fixed;
    top: 0;
    width: 99%;
    margin: auto;
    background: black;
}
header img {
    height: 50px;
    margin-left: 10px;
}
header ul {
    list-style-type: none;
    display: flex;
    margin-right: 10px;
}
header li {
    padding-left: 50px;
}
header a {
    color: seashell;
}
header a:hover {
    text-decoration: none;
}

/* MISSION SECTION */
#mission {
    background: url("../images/img-mission-background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 1200px;
    height: 700px;
    margin: auto;
    margin-top: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#mission div {
    background: black;
    width: 100%;
}

/* FEATURED TEA SECTION */
#featured-tea {
    width: 1000px;
    margin: auto;
}
#featured-tea #cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
#featured-tea img {
    width: 300px;
    height: 200px;
    margin-right: 30px;
    margin-bottom: 10px;
}
#featured-tea h4 {
    margin-top: 0;
}