html {
    font-family: Helvetica;
    font-size: 22px;
    color: seashell;
    background: black;
    opacity: 0.9;
    text-align: center;
}

/* HEADER */
header {
    display: flex;
    justify-content: space-between;
    height: 69px;
    border-bottom: 1px solid seashell;
    position: fixed;
    top: 0;
    width: 99%;
    margin: auto;
    background: black;
}
header img {
    height: 50px;
    margin-left: 10px;
}
header ul {
    list-style-type: none;
    display: flex;
    margin-right: 10px;
}
header li {
    padding-left: 50px;
}
header a {
    color: seashell;
}
header a:hover {
    text-decoration: none;
}

/* MISSION SECTION */
#mission {
    background: url("../images/img-mission-background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 90%;
    height: 700px;
    margin: auto;
    margin-top: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#mission div {
    background: black;
    width: 100%;
}

/* FEATURED TEA SECTION */
#featured-tea {
    width: 80%;
    margin: auto;
}
#featured-tea #tea-cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
#featured-tea img {
    width: 300px;
    height: 200px;
    margin: 0 15px;
    margin-bottom: 10px;
}
#featured-tea h4 {
    margin-top: 0;
}

/* LOCATIONS SECTION */
#locations {
    background: url("../images/img-locations-background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: -70px;
    width: 90%;
    margin: auto;
    height: 500px;
    box-sizing: border-box;
    padding-top: 40px;
}
#locations-cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 15px;
}
#locations-cards div {
    background: black;
    margin: 20px;
    width: 300px;
    opacity: 1;
}

/* CONTACT SECTION */
#contact {
    height: 200px;
}

/* FOOTER */
footer p {
    margin-left: 20px;
    text-align: left;
}

/* LAPTOP STYLE */
@media screen and (max-width: 1270px) {
    #tea-cards img {
        width: 250px;
    }
}
@media screen and (max-width: 1199px) {
    #mission h4 {
        font-size: large;
    }
    #locations-cards div {
        width: 250px;
    }
}

/* LARGE TABLET */
@media screen and (max-width: 999px) {
    #mission {
        height: 500px;
    }
    #mission h4 {
        font-size: medium;
    }
    #locations {
        height: auto;
        padding-bottom: 100px;
    }
    footer {
        font-size: 16px;
    }
}

/* SMALL TABLET */
@media screen and (max-width: 767px) {
    header ul {
        display: none;
    }
    header h4 {
        font-size: small;
    }
}

/* MOBILE STYLE */
@media screen and (max-width: 575px) {
    header h4 {
        font-size: x-small;
    }
}